<div class="container mt-5">
  <h4>게시판</h4>
  <div class="container" style="width:90%; height:80%;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">게시물 이름</th>
          <th scope="col">작성자</th>
          <th scope="col">작성시간</th>
        </tr>
      </thead>
      <tbody id="bbs_list_table_tbody">

      </tbody>
    </table>
    <button class="btn btn-dark" style="float:right;" onclick="location.href='/bbs/write'">글쓰기</button>
    <div class="container" style="text-align: center;">

      <span id="bbs_list_page_left_button_container">
        <button class="btn btn-dark rounded-circle" id="bbs_list_page_left_button" disabled onclick="loadPreButton();"><span class="oi oi-caret-left"></span>
        </button>
      </span>
      <span id="bbs_list_page_button_container">

      </span>
      <span id="bbs_list_page_right_button_container"><button class="btn btn-dark rounded-circle" id="bbs_list_page_right_button" disabled onclick="loadNextButton();"><span class="oi oi-caret-right"></span></button>
      </span>


    </div>
  </div>
</div>

<script>
  var mMaxPage = 0;
  var mCurPage = 1;
  $(function () {

    $.ajax({
      type: "POST",
      url: "/bbs/JSON/pages",
      success: function (_page) {
        mMaxPage = parseInt(_page);

        loadBbButton();
      }
    });

    loadBbList(1);

  });

  function loadNextButton(){
    mCurPage= (Math.floor((mCurPage-1)/5)+1)*5+1;
    loadBbButton();
    loadBbList(mCurPage);
  }

  function loadPreButton(){
    mCurPage= (Math.floor((mCurPage-1)/5)-1)*5+1;
    loadBbButton();
    loadBbList(mCurPage);
  }

  //load button 구현
  function loadBbButton() {
    var button_container = document.getElementById("bbs_list_page_button_container");
    button_container.innerHTML='';
    var fiveMuiltiple = (Math.floor((mCurPage-1)/5)+1)*5; // 5의 배수.
    var maxI = ( fiveMuiltiple < mMaxPage) ? fiveMuiltiple : mMaxPage;

    for (var i=mCurPage; i <= maxI; i++) {
      var btn = document.createElement("button");
      btn.classList.add("btn");
      btn.classList.add("btn-dark");
      btn.classList.add("rounded-circle");
      btn.innerHTML = i;
      button_container.appendChild(btn);

      $(btn).click(function (e) { 
        var page = parseInt(e.target.innerHTML);
        loadBbList(page);
        mCurPage=page;
        
      });
    }
    if(fiveMuiltiple!=5)
      document.getElementById('bbs_list_page_left_button').disabled = false;
    else
    document.getElementById('bbs_list_page_left_button').disabled = true;

    
    if(maxI!=mMaxPage)
      document.getElementById('bbs_list_page_right_button').disabled = false;
    else
    document.getElementById('bbs_list_page_right_button').disabled = true;

  
  }

    //load bulletin board list from server.
  function loadBbList(_page) {
    $.ajax({
      type: 'POST',
      url: '/bbs/JSON/bbslist',
      data: { page: _page },
      success: function (_data) {
        var jsons = JSON.parse(_data);

        document.getElementById('bbs_list_table_tbody').innerHTML = '';//clear

        for (var i = 0; i < jsons.length; i++) {
          var json = jsons[i];

          var tr = document.createElement("tr");
          tr.setAttribute("scope", "row");

          var td_serial = document.createElement("td");
          td_serial.innerHTML = json.serial;

          var td_title = document.createElement("td");
          td_title.innerHTML = json.title;

          var td_nickname = document.createElement("td");
          td_nickname.innerHTML = json.nickname;

          var td_time = document.createElement("td");
          td_time.innerHTML = json.time;

          tr.appendChild(td_serial);
          tr.appendChild(td_title);
          tr.appendChild(td_nickname);
          tr.appendChild(td_time);

          document.getElementById('bbs_list_table_tbody').appendChild(tr);
          $(tr).data("serial", json.serial); // save serial in the data of tr
          $(tr).click(function (e) {
            location.href = "/bbs/bb/" + $(e.target).closest('tr').data("serial");
          });
        }


      }
    })
  }
</script>