<div class="container mt-5">
  <form name="bbs_write_form" method="post" action="/bbs/action/write" onsubmit="return checkBbsForm();">
    <table class="table">
      <thead>
        <tr>
          <td colspan="2" style="text-align:center;">게시판 글쓰기</td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input id="bbs_write_title" type="text" class="form-control" placeholder="게시판 제목" name="title" maxlength="50">
          </td>
        </tr>
        <tr>

          <td>
            <div id="editor" style="height:300px;">

            </div>
          </td>

        </tr>

      </tbody>
    </table>

    <div class="float-right">
      <input type="submit" value="글쓰기" class="btn btn-primary">
    </div>

    <input type="text" name="bbs_write_content" id="bbs_write_content" style="display: none;">
  </form>

</div>
<div id="bbs_basic_modal_container">

</div>
<!-- Include the Quill library -->
<script src="/javascripts/bbs/init.js"></script>
<script src="/javascripts/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>

<script>

  $('#bbs_basic_modal_container').load("/utils/modal/basic_modal.html") // load basic modal


  function checkBbsForm() {
    if (document.forms.bbs_write_form.title.value == '') {
      showBasicModal("글쓰기","제목을 입력해주세요",null,function(){
        setTimeout(function(){
          $('#bbs_write_title').focus();
        },100);
      });
      return false;
    }
    $('#bbs_write_content').val(JSON.stringify(quill.getContents()));

  }
</script>